# CoreOS default config
UsePrivilegeSeparation sandbox
Subsystem sftp internal-sftp
ClientAliveInterval 180
UseDNS no
UsePAM yes
PrintLastLog no # handled by PAM
PrintMotd no # handled by PAM

# SSH pub key
TrustedUserCAKeys /etc/ssh/ca.pub

# Demo settings
Port 2222
LogLevel VERBOSE
PasswordAuthentication no
